* {
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightgray;
}
.arena {
  width: 500px;
  height: 500px;
  background-color: wheat;
  border: solid red 4px;
  position: relative;
}

.snake {
  position: absolute;
  background-color: green;
  width: 20px;
  height: 20px;
}
.food {
  position: absolute;
  background-color: blueviolet;
  width: 20px;
  height: 20px;
}
